## Indexing

In [2]:
import pandas as pd

In [13]:
df = pd.DataFrame({"A": [1,2,3,3,5], "B": [10,20,30,40,50]})
df

   A   B
0  1  10
1  2  20
2  3  30
3  3  40
4  5  50

In [11]:
# selecting single column (by column label)

In [6]:
# selecting multiple columns

In [ ]:
# selecting single row (index label)

In [9]:
# selecting single row (row count)

In [10]:
# selecting multiple rows (index label)

In [ ]:
# selecting multiple rows (index label) - slice

In [1]:
# selecting all rows - slice

In [8]:
# selecting rows and columns

In [2]:
# selecting single value - .loc

In [ ]:
# selecting single value - .at

In [12]:
# boolean indexing, single expression

In [24]:
# boolean indexing, multiple expression

In [ ]:
# boolean indexing, df.isin

In [23]:
# boolean indexing - setting data
df.loc[df.A == 3, "B"]

[30, 40]