# Working With Tidy Data

- Paper: **Tidy Data** by _Hadley Wickham_: https://vita.had.co.nz/papers/tidy-data.pdf

In [67]:
import pandas as pd

In [68]:
schedule = pd.DataFrame(
    {
        "hour": [19, 20, 21, 22],
        "NRK1": ["Dagsrevyen", "Beat for beat", "Nytt på nytt", "Lindmo"],
        "TV2": ["Kjære landsmenn", "Forræder", "21-nyhetene", "Farfar"],
        "TVNorge": [
            "The Big Bang Theory",
            "Alltid beredt",
            "Kongen befaler",
            "Praktisk info",
        ],
    }
)

schedule

   hour           NRK1              TV2              TVNorge
0    19     Dagsrevyen  Kjære landsmenn  The Big Bang Theory
1    20  Beat for beat         Forræder        Alltid beredt
2    21   Nytt på nytt      21-nyhetene       Kongen befaler
3    22         Lindmo           Farfar        Praktisk info

In [66]:
income = pd.read_csv("datasets/income/driftsinntekter.csv", index_col=0)
income

                                 Kategori    2019    2020    2021
0                           Basistilskudd   216.0   203.0   202.0
1   Basistilskudd personell og kompetanse     NaN     NaN     3.0
2                      Forvaltningsmidler   307.7   196.9     NaN
3               Tilskudd H.U. Sverdrup II   284.3   274.2   200.1
4        Tilskudd Kjemiidentifikasjonslab   107.1    55.7    88.8
5                        CBRNE-satsningen     NaN     NaN    85.0
6                Tilskudd og overføringer   389.4   439.1   341.8
7                  Strategiske FoU-midler  2131.1  2109.0  2159.0
8     Konsept- og forprosjekteringsmidler   838.2   696.2   635.1
9                        Forsvarssektoren  3759.0  3988.0  5180.0
10   Sivile og offentlige, inn- og utland   678.1   979.6   761.4

In [52]:
(
    income
    .set_index("Kategori")
    .mean(axis="columns")
    .reset_index()
    .rename(columns={0: "average"})
)

                                 Kategori      average
0                           Basistilskudd   207.000000
1   Basistilskudd personell og kompetanse     3.000000
2                      Forvaltningsmidler   252.300000
3               Tilskudd H.U. Sverdrup II   252.866667
4        Tilskudd Kjemiidentifikasjonslab    83.866667
5                        CBRNE-satsningen    85.000000
6                Tilskudd og overføringer   390.100000
7                  Strategiske FoU-midler  2133.033333
8     Konsept- og forprosjekteringsmidler   723.166667
9                        Forsvarssektoren  4309.000000
10   Sivile og offentlige, inn- og utland   806.366667

In [53]:
tidy_income = income.melt(
    id_vars="Kategori",
    value_vars=["2019", "2020", "2021"],
    var_name="year",
    value_name="income"
)

In [54]:
(
    tidy_income
    .groupby("Kategori", as_index=False)
    .agg(average=("income", "mean"))
)

                                 Kategori      average
0                           Basistilskudd   207.000000
1   Basistilskudd personell og kompetanse     3.000000
2                        CBRNE-satsningen    85.000000
3                        Forsvarssektoren  4309.000000
4                      Forvaltningsmidler   252.300000
5     Konsept- og forprosjekteringsmidler   723.166667
6    Sivile og offentlige, inn- og utland   806.366667
7                  Strategiske FoU-midler  2133.033333
8               Tilskudd H.U. Sverdrup II   252.866667
9        Tilskudd Kjemiidentifikasjonslab    83.866667
10               Tilskudd og overføringer   390.100000

In [65]:
tidy_income.pivot_table(index="Kategori", columns="year", values="income")

year                                     2019    2020    2021
Kategori
Basistilskudd                           216.0   203.0   202.0
Basistilskudd personell og kompetanse     NaN     NaN     3.0
CBRNE-satsningen                          NaN     NaN    85.0
Forsvarssektoren                       3759.0  3988.0  5180.0
Forvaltningsmidler                      307.7   196.9     NaN
Konsept- og forprosjekteringsmidler     838.2   696.2   635.1
Sivile og offentlige, inn- og utland    678.1   979.6   761.4
Strategiske FoU-midler                 2131.1  2109.0  2159.0
Tilskudd H.U. Sverdrup II               284.3   274.2   200.1
Tilskudd Kjemiidentifikasjonslab        107.1    55.7    88.8
Tilskudd og overføringer                389.4   439.1   341.8